{{set . "title" "Gource"}}
{{template "header.html" .}}

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                {{with $field := field "query" .}}
                <input id="query" class="form-control" type="text"
                        name="{{$field.Name}}" value="{{$field.Flash}}"
                        placeholder="Search for a Github repository" />
                {{end}}
                <div class="input-group-btn">
                    <button class="btn btn-default" id="searchBtn">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>


<div class="container">
    <pre id="response" style="display: none;"></pre>
</div>

{{template "footer.html" .}}

