<div class="top">
    <form ng-submit="search()">
        <input id="query" type="text" ng-model="query" />
    </form>
</div>

<ul ng-show="repos.length">
    <li ng-repeat="rep in repos | orderBy:'followers'">
        <a href="" ng-click="getCommits(rep)">{{rep.full_name}}</a>
    </li>
</ul>

<ul ng-show="commits.length">
    <li ng-repeat="commit in commits">
    {{commit.sha}} <i>(@{{commit.author.login}})</i>
    </li>
</ul>

<div class="container">
    <pre id="response" style="display: none;"></pre>
</div>
